*.cache
*.suo
GCop.json
GCopLog.txt
.vs/
.idea/
@M#\Current\Stats.json
bin/
obj/
packages/
lib/

UpgradeLog.htm
UpgradeLog2.htm
Plugins/MapBox/nuget.exe
*.nupkg
ZebbleSource.7z

Tester/App.UI/.zebble-generated-css.cs
Tester/App.UI/Views/.zebble-schema.xml

*.csproj.user
*.project.lock.json

Zebble.exe
Android/Android.csproj.bak
UWP/project.lock.json
ZebbleSource-UWP-Android.7z
ZebbleSource-UWP-iOS.7z
ZebbleSource-UWP.7z
ZebbleSource-All.7z
TypeDetector.dll
UWP/UWP.nuget.props
UWP/UWP.nuget.targets
Components/googleplayservices-maps-29.0.0.2.png
Components/googleplayservices-maps-29.0.0.2.info
GCopReport.json
UpdatePlugins.pdb
UpdatePlugins.exe
UWP/~UWP.nuget.props
UWP/~UWP.nuget.targets
Zebble/Zebble.xml

.DS_Store
